.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 100%; /* Full height */
    position: fixed;
    background-color: #1ECBE1;
}

.navigation li {
    display: flex;
    background-color: #1ECBE1;
}

.navigation a.active {
    background-color: #1E6AE1;
    width: 100%
}

.navigation li a:hover{
    background-color: #1EE196;
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-pane {
    flex: 1 1;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #1ECBE1;
}

.center-pane {
    flex: 5;
    height: 95%;
}